:root {
  --main-color: #8685ef;
  --2nd-color: #434378;
  --hover-color: #4f4dca;
}
//----------------------------------------------------------------------------
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
//----------------------------------------------------------------------------
::-webkit-scrollbar-thumb {
  background-color: #a9a8ee;
  border-radius: 15px;
}
//----------------------------------------------------------------------------
* {
  margin: 0;
  padding: 0;
}
//----------------------------------------------------------------------------
body {
  overflow-x: hidden;
}
//----------------------------------------------------------------------------
body > * {
  box-sizing: border-box;
}
//----------------------------------------------------------------------------
.app_container {
  height: 100vh;
}
//----------------------------------------------------------------------------
.Swiper1 {
  height: 510px;
  width: 100%;
  padding: 10px 0 0 0;
  .swiper-wrapper {
    top: 15px;
  }
  .swiper-slide-active {
    width: 430px;
    margin: 0;
  }
  .swiper-button-prev {
    background-image: url("../components/images/prev.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 70px !important;
    height: 70px !important;
    top: 220px !important;
    left: -1px !important;
  }
  .swiper-button-next {
    background-image: url("../components/images/next.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 70px !important;
    height: 70px !important;
    top: 220px !important;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
  }
  .swiper-button-prev::after {
    display: none;
  }
  .swiper-button-next::after {
    display: none;
  }
}
//----------------------------------------------------------------------------
.Swiper2 {
  top: unset;
  .swiper-button-prev::after {
    display: none;
  }
  .swiper-button-next::after {
    display: none;
  }
}
//----------------------------------------------------------------------------
.Swiper3 {
  padding-top: 155px !important;
  padding-left: 60px !important;
  .swiper-button-prev::after {
    color: var(--main-color);
  }
  .swiper-button-next::after {
    color: var(--main-color);
  }
}

//----------------------------------------------------------------------------
@media only screen and (max-width: 49.9375em) {
  .Swiper3 {
    padding-top: 50px !important;
    padding-left: 180px !important;
    margin: auto !important;
    .swiper-button-prev {
      display: none;
    }
    .swiper-button-next {
      display: none;
    }
    .swiper-slide {
      height: 420px;
    }
  }
}
//----------------------------------------------------------------------------
@media only screen and (max-width: 42.5em) {
  .Swiper3 {
    padding-left: 150px !important;
  }
}
//----------------------------------------------------------------------------
@media only screen and (max-width: 37.5em) {
  .Swiper1 {
    .swiper-button-prev {
      display: none;
    }
    .swiper-button-next {
      display: none;
    }
  }
}
//----------------------------------------------------------------------------
@media only screen and (max-width: 35.1875em) {
  .Swiper3 {
    padding-left: 40px !important;
  }
}
//----------------------------------------------------------------------------
@media only screen and (max-width: 33.75em) {
  .Swiper3 {
    padding-left: 90px !important;
  }
}
//----------------------------------------------------------------------------
@media only screen and (max-width: 31.25em) {
  .Swiper1 {
    .swiper-wrapper {
      top: unset;
    }
  }
}
//----------------------------------------------------------------------------
@media only screen and (max-width: 28.125em) {
  .Swiper3 {
    padding-left: 20px !important;
  }
}
//----------------------------------------------------------------------------
