:root {
  --main-color: #8685ef;
  --2nd-color: #434378;
  --hover-color: #4f4dca;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background-color: #a9a8ee;
  border-radius: 15px;
}
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

body > * {
  box-sizing: border-box;
}
.Swiper1 {
  height: 510px;
  width: 100%;
  padding: 10px 0 0 0;
}
.swiper-slide-active {
  width: 430px;
  margin: 0;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: none;
}
.swiper-button-prev {
  background-image: url("../components/images/prev.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 70px !important;
  height: 70px !important;
  top: 220px !important;
  left: -1px !important;
}

.swiper-button-prev::after {
  display: none;
}
.swiper-button-next {
  background-image: url("../components/images/next.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 70px !important;
  height: 70px !important;
  top: 220px !important;
}

.swiper-button-next::after {
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .swiper-button-prev {
    display: none;
  }
  .swiper-button-next {
    display: none;
  }
}
