:root {
  --main-color: #8685ef;
  --2nd-color: #434378;
  --hover-color: #4f4dca;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
//----------------------------------------------------------------------------
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
//----------------------------------------------------------------------------
::-webkit-scrollbar-thumb {
  background-color: #a9a8ee;
  border-radius: 15px;
}
//----------------------------------------------------------------------------
* {
  margin: 0;
  padding: 0;
}
//----------------------------------------------------------------------------
body {
  overflow-x: hidden;
}
//----------------------------------------------------------------------------
body > * {
  box-sizing: border-box;
}
//----------------------------------------------------------------------------
.app_container {
  height: 100vh;
}
//----------------------------------------------------------------------------
.Swiper1 {
  height: 550px;
  width: 100%;
  padding: 10px 0 0 0;
  .swiper-wrapper {
    top: 15px;
  }
  .swiper-slide-active {
    width: 430px;
    margin: 0;
  }
  .swiper-button-prev {
    background-image: url("../components/images/prev.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 70px !important;
    height: 70px !important;
    top: 220px !important;
    left: -1px !important;
  }
  .swiper-button-next {
    background-image: url("../components/images/next.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 70px !important;
    height: 70px !important;
    top: 220px !important;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
  }
  .swiper-button-prev::after {
    display: none;
  }
  .swiper-button-next::after {
    display: none;
  }
}
//----------------------------------------------------------------------------
.Swiper2 {
  top: unset;
  .swiper-button-prev::after {
    display: none;
  }
  .swiper-button-next::after {
    display: none;
  }
}
//----------------------------------------------------------------------------
.Swiper3 {
  min-width: 310px;
  min-height: 450px;
  padding-top: 155px !important;
  padding-left: 60px !important;

  .swiper-button-prev {
    background-image: url("../components/images/prev.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 70px !important;
    height: 70px !important;
    top: 320px;
  }
  .swiper-button-next {
    background-image: url("../components/images/next.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 70px !important;
    height: 70px !important;
    top: 320px;
  }
  .swiper-button-prev::after {
    display: none;
  }
  .swiper-button-next::after {
    display: none;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
  }
}
//----------------------------------------------------------------------------
.Swiper4 {
  .swiper-wrapper {
    height: 410px;
    padding: 20px 30px;
  }
  .swiper-button-prev {
    background-image: url("../components/images/prev.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 70px !important;
    height: 70px !important;
    top: 220px !important;
    left: -1px !important;
  }
  .swiper-button-next {
    background-image: url("../components/images/next.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 70px !important;
    height: 70px !important;
    top: 220px !important;
  }
  .swiper-button-prev::after {
    display: none;
  }
  .swiper-button-next::after {
    display: none;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
  }
}

//----------------------------------------------------------------------------
@media only screen and (max-width: 119.9375em) {
  .Swiper4 {
    .swiper-wrapper {
      padding: 20px 75px;
    }
  }
}
//----------------------------------------------------------------------------
@media only screen and (max-width: 87.5em) {
  .Swiper4 {
    .swiper-wrapper {
      padding: 20px 20px;
    }
  }
}
//----------------------------------------------------------------------------
@media only screen and (max-width: 51.25em) {
  .Swiper4 {
    .swiper-button-prev {
      display: none;
    }
    .swiper-button-next {
      display: none;
    }
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
      display: unset;
    }
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets
      .swiper-pagination-bullet {
      background-color: var(--main-color);
    }
  }
}
//----------------------------------------------------------------------------
@media only screen and (max-width: 50em) {
  .Swiper3 {
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
      display: unset;
    }
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets
      .swiper-pagination-bullet {
      background-color: var(--main-color);
    }
  }
}
//----------------------------------------------------------------------------
@media only screen and (max-width: 49.9375em) {
  .Swiper3 {
    .swiper-button-prev {
      display: none;
    }
    .swiper-button-next {
      display: none;
    }
    .swiper-slide {
      height: 420px;
    }
  }
}
//----------------------------------------------------------------------------
@media only screen and (max-width: 37.5em) {
  .Swiper1 {
    .swiper-button-prev {
      display: none;
    }
    .swiper-button-next {
      display: none;
    }
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
      display: unset;
    }
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets
      .swiper-pagination-bullet {
      background-color: #ffcc67;
    }
  }
}
//----------------------------------------------------------------------------
@media only screen and (max-width: 31.25em) {
  .Swiper1 {
    .swiper-wrapper {
      top: unset;
    }
  }
}
//-----------------------------------------------------------
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
textarea {
  padding: 5px;
  min-height: 10px;
  font-size: large;
}
