@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "Poppins" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .editorText span {
//   font-size: unset !important;
// }

.editorText h1 {
  line-height: 90px;
}
.editorText h2 {
  line-height: 80px;
}
.editorText h3 {
  line-height: 70px;
}
.editorText p {
  line-height: 35px;
}
