.container {
  box-sizing: border-box;
  min-height: 50vh;
  display: flex;
  padding: 113px 50px 20px 50px;
  justify-content: center;
  &_img {
    max-width: 829px;
    max-height: 622px;
    min-width: 500px;
    min-height: 500px;
    margin-left: 60px;
  }
  &_text {
    max-width: 1090px;
    text-align: left;
    &_header {
      font-size: 5rem;
      font-weight: 600;
      color: #252525;
      margin-bottom: 1.5rem;
    }
    &_paragraph {
      font-size: 2rem;
      font-weight: 500;
      color: rgba(37, 37, 37, 0.79);
      line-height: 3rem;
    }
    &_holder {
      display: flex;
      justify-content: flex-end;
      margin-top: 37px;
      &_btn {
        border-radius: 30px;
        width: 236px;
        height: 62px;
        font-size: 2rem;
      }
    }
  }
}

//---------------------------------------------------------------------------------
@media only screen and (max-width: 87.5em) {
  .container {
    &_img {
      max-width: 400px;
      max-height: 400px;
      min-width: unset;
      min-height: unset;
    }
  }
}
//---------------------------------------------------------------------------------
@media only screen and (max-width: 62em) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    &_img {
      width: 600px;
      height: 500px;
      min-width: 300px;
      min-height: 300px;
    }
    &_text {
      margin: 20px 10px;
      text-align: center;
      &_header {
        font-size: 4rem;
      }
      &_holder {
        justify-content: center;
      }
    }
  }
}
//---------------------------------------------------------------------------------
@media only screen and (max-width: 37.5em) {
  .container {
    min-height: unset;
    padding: 10px 15px 20px 15px;
    &_img {
      display: none;
    }
    &_text {
      font-size: 3rem;
      &_header {
        font-size: 3rem;
        margin-bottom: 0.5rem;
      }
      &_paragraph {
        font-size: 1rem;
        text-align: left;
        line-height: 1.5rem;
      }
      &_holder {
        margin-top: 15px;
        &_btn {
          width: 125px;
          height: 36px;
          font-size: 1rem;
        }
      }
    }
  }
}
